.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 50px;
  background-color: #ffffff;
  color: rgb(45, 46, 50);
  font-family: "Poppins", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  h2 {
    font-size: 1.2rem;
    font-weight: 700;
  }
  .navbar-container {
    a {
      text-decoration: none;
      margin: 0 10px;
      font-weight: 600;
      color: #2d2f33;
      font-size: 1rem;
      transition: 0.2s;
      &:hover {
        color: #308dfb;
      }
    }
  }
  #aboutScroll,
  #projectScroll,
  #educationScroll,
  #contactScroll {
    scroll-margin-top: 150px;
  }
}
@media screen and (max-width: 880px) {
  .navbar {
    flex-direction: column;
    .navbar-container {
      margin-top: 10px;
    }
  }
}
@media screen and (max-width: 570px) {
  .navbar {
    .navbar-container {
      a {
        font-size: 0.8rem;
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .navbar {
    .navbar-container {
      a {
        margin: 0 5px;
      }
    }
  }
}
